<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="bubble-component">
        <div class="linha-1"></div>
        <div class="bubble"></div>
    </div>

    <div class="arrows-component">
        <a href="#"><span class="arrow left"></span></a>
        <a href="#"><span class="arrow right"></span></a>
    </div>
    
    <div class="button-component-1">
        <div class="button-1">
            <div class="icon-button"> <img src="" alt=""></div>
            <div class="text-button">
                <h2>Silva</h2>
                <p>Gatito Carinhoso</p>
            </div>
            <div class="arrow-button"><a href="#"><span class="arrow right"></span></a></div>
        </div> 
    </div>

    <div class="play-music">
        <button class="button prev"> <div class="icon"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 4L8.66667 12L20 20V4Z" fill="#000000"></path> <path d="M4 20H6.66667V4H4V20Z" fill="#000000"></path> </g></svg></div></button>
        <button class="button play"> <div class="icon"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke=""><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18.5714 12L6 20V4L18.5714 12Z" fill="#000000"></path> </g></svg></div></button>
        <button class="button next"> <div class="icon"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 20L15.3333 12L4 4V20Z" fill="#000000"></path> <path d="M20 4H17.3333V20H20V4Z" fill="#000000"></path> </g></svg></div></button>
       
    </div>

    <div class="slider-component">
        <div class="slider-container">
            <div class="slider-icon">☀️</div>
            <div class="slider-fill" id="sliderFill"></div>
            <div class="slider-button moon" id="sliderButton">🌙</div>
            <div class="slider-percent" id="sliderPercent">0%</div>
        </div>
    </div>
</body>
</html>